/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */@keyframes spinAround{from{transform:rotate(0)}to{transform:rotate(359deg)}}.button{-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.content:not(:last-child){margin-bottom:1.5rem}.button{-moz-appearance:none;-webkit-appearance:none;-ms-flex-align:center;align-items:center;border:1px solid transparent;border-radius:4px;box-shadow:none;display:-ms-inline-flexbox;display:inline-flex;font-size:1rem;height:2.5em;-ms-flex-pack:start;justify-content:flex-start;line-height:1.5;padding-bottom:calc(.5em - 1px);padding-left:calc(.75em - 1px);padding-right:calc(.75em - 1px);padding-top:calc(.5em - 1px);position:relative;vertical-align:top}.button:active,.button:focus{outline:0}/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */body,h2,h3,h4,h6,html,p,pre{margin:0;padding:0}h2,h3,h4,h6{font-size:100%;font-weight:400}button{margin:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img{height:auto;max-width:100%}html{background-color:#fff;font-size:16px;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;min-width:300px;overflow-x:hidden;overflow-y:scroll;text-rendering:optimizeLegibility;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}footer,section{display:block}body,button{font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif}code,pre{-moz-osx-font-smoothing:auto;-webkit-font-smoothing:auto;font-family:monospace}body{color:#4a4a4a;font-size:1em;font-weight:400;line-height:1.5}a{color:#3273dc;cursor:pointer;text-decoration:none}a strong{color:currentColor}a:hover{color:#363636}code{background-color:#f5f5f5;color:#f14668;font-size:.875em;font-weight:400;padding:.25em .5em .25em}img{height:auto;max-width:100%}span{font-style:inherit;font-weight:inherit}strong{color:#363636;font-weight:700}pre{-webkit-overflow-scrolling:touch;background-color:#f5f5f5;color:#4a4a4a;font-size:.875em;overflow-x:auto;padding:1.25rem 1.5rem;white-space:pre;word-wrap:normal}pre code{background-color:transparent;color:currentColor;font-size:1em;padding:0}.button{background-color:#fff;border-color:#dbdbdb;border-width:1px;color:#363636;cursor:pointer;-ms-flex-pack:center;justify-content:center;padding-bottom:calc(.5em - 1px);padding-left:1em;padding-right:1em;padding-top:calc(.5em - 1px);text-align:center;white-space:nowrap}.button strong{color:inherit}.button:hover{border-color:#b5b5b5;color:#363636}.button:focus{border-color:#3273dc;color:#363636}.button:focus:not(:active){box-shadow:0 0 0 .125em rgba(50,115,220,.25)}.button:active{border-color:#4a4a4a;color:#363636}.container{-ms-flex-positive:1;flex-grow:1;margin:0 auto;position:relative;width:auto}@media screen and (min-width:1024px){.container{max-width:960px}}@media screen and (min-width:1216px){.container{max-width:1152px}}@media screen and (min-width:1408px){.container{max-width:1344px}}.content p:not(:last-child),.content pre:not(:last-child){margin-bottom:1em}.content h2,.content h3,.content h4,.content h6{color:#363636;font-weight:600;line-height:1.125}.content h2{font-size:1.75em;margin-bottom:.5714em}.content h2:not(:first-child){margin-top:1.1428em}.content h3{font-size:1.5em;margin-bottom:.6666em}.content h3:not(:first-child){margin-top:1.3333em}.content h4{font-size:1.25em;margin-bottom:.8em}.content h6{font-size:1em;margin-bottom:1em}.content pre{-webkit-overflow-scrolling:touch;overflow-x:auto;padding:1.25em 1.5em;white-space:pre;word-wrap:normal}@keyframes moveIndeterminate{from{background-position:200% 0}to{background-position:-200% 0}}.mt-1{margin-top:.25rem!important}.mt-2{margin-top:.5rem!important}.mb-2{margin-bottom:.5rem!important}.mt-4{margin-top:1rem!important}.mt-5{margin-top:1.5rem!important}.is-size-2{font-size:2.5rem!important}.is-size-3{font-size:2rem!important}.is-size-4{font-size:1.5rem!important}.is-size-6{font-size:1rem!important}.has-text-centered{text-align:center!important}.has-text-weight-bold{font-weight:700!important}.hero{-ms-flex-align:stretch;align-items:stretch;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:justify;justify-content:space-between}.hero-body{-ms-flex-positive:1;flex-grow:1;-ms-flex-negative:0;flex-shrink:0;padding:3rem 1.5rem}.section{padding:3rem 1.5rem}.footer{background-color:#fafafa;padding:3rem 1.5rem 6rem}
:root {
  --theme-navy: #253746;
  --theme-blue: #225862;
  --theme-blue-hover: #428892;
  --theme-steel: #ededed;
}

html {
  background-color: var(--theme-steel);
  overflow-y: auto;
}

.hero,
.footer {
  background-image: linear-gradient(150deg, var(--theme-navy), var(--theme-blue));
}

.hero h2 {
    color: var(--theme-steel);
  }

.hero h6 {
    color: #bbb;
  }

.hero a {
    background: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.7);
    margin-top: 2rem;
  }

.hero a:hover {
      background: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.8);
    }

.hero a:active,
    .hero a:focus {
      background: #ddd;
      background-image: linear-gradient(#eee, #ddd);
      border-color: #bbb;
      color: var(--theme-navy);
    }

.main-content h3,
  .main-content h4 {
    color: var(--theme-blue-hover);
  }

.main-content .shields a:not(:last-child) {
      margin-right: 0.25rem;
    }

.main-content .button {
    background: var(--theme-blue);
    color: var(--theme-steel);
    border-radius: 10px;
  }

.main-content .button:hover,
    .main-content .button:focus {
      background: var(--theme-blue-hover);
      color: var(--theme-steel);
    }

.main-content .preact-hint:after {
    border: 10px solid transparent;
    border-bottom: none;
    border-top-color: #000;
  }

.main-content .preact-hint__content {
    font-size: 0.75em;
  }

.main-content .preact-hint__content strong {
      color: #fff;
    }

.main-content pre {
    padding: 0.8rem;
    background-color: #ddd;
    border: 1px solid #aaa;
  }

.footer {
  padding: 0.25rem;
  color: var(--theme-steel);
}

.preact-hint {
  padding-bottom: 5px;
  position: absolute;
  z-index: 9999;
  cursor: default;
}

.preact-hint__fade-in {
  animation: 0.5s fadeIn;
}

.preact-hint__content {
  padding: 10px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  display: block;
  white-space: nowrap;
}

.preact-hint:after {
  content: '';
  width: 0;
  height: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom: none;
  border-top-color: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*# sourceMappingURL=ssr-bundle.c92f2.css.map*/